<div id="top_nav_pc" class="osr-navbar-left navbar-left hidden-xs">
    <a href="/" class="osr-logo pull-left" title='{{_("首页")}}'>
        {% if g.site_global.site_config.PC_LOGO_DISPLAY == "logo" %}
            <img src="{{g.site_global.site_config.LOGO_IMG_URL}}" alt="Logo"/>
        {% elif g.site_global.site_config.PC_LOGO_DISPLAY == "name" %}
            {{g.site_global.site_config.APP_NAME}}
        {% else %}
            <img src="{{g.site_global.site_config.LOGO_IMG_URL}}" alt="Logo"/>
            {{g.site_global.site_config.APP_NAME}}
        {% endif %}
    </a>
    <ul id="navbar_left" class="nav navbar-nav">
        {% for k,v in g.site_global.theme_config.TOP_NAV.items()|sort%}

            {% if v.next_lev %}
                <li class="user-menu dropdown">
                <a class="osr-pointer lv1-a dropdown-toggle" data-toggle="dropdown">
                {{v.nav}}
                <i class="caret"></i>
                </a>

                <ul id="{{v.nav}}" class="dropdown-menu dropdown-custom dropdown-menu-right">
                    {% for nav2 in v.next_lev %}
                    <li>
                        <a href="{{nav2.link}}">
                            {{nav2.nav}}
                        </a>
                    </li>
                    {% endfor %}
               </ul>
                </li>
            {% else %}
                <li class="user-menu dropdown" >
                    <a class="lv1-a" href="{{v.link}}">
                        {{v.nav}}
                    </a>
                </li>
            {% endif %}
        {% endfor %}



    </ul>


</div>